CONFIG PART=5VLX50TFF1136-1 ;

NET CLK		LOC=J16;
NET XRST		LOC=H18;
NET RS_TX	LOC=K11;
NET RS_RX	LOC=J11;
NET CLK		IOSTANDARD = LVTTL;
NET XRST		IOSTANDARD = LVTTL;
NET RS_TX	IOSTANDARD = LVTTL;
NET RS_RX	IOSTANDARD = LVTTL;

NET "CLK" TNM_NET = "SYS_CLK";
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 14.00 ns HIGH 50 %;
