assembler/assembler
simulator/simulator
compiler/min-caml
*.o
._d/
._ncdi
*.input
*.class
__tmp__.*
*.cmi
*.cmo
*.log
continuous_commit
*.cmp
compiler/coverage*.out
compiler/report/
*.ocaml
*.input
*.sim
*.bin
*.s
*_tmp.ml
